# Local platform dependencies
MYSQL_DATABASE=tekwatt
MYSQL_USER=tekwatt
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-password
MYSQL_PORT=3306

# Service database connections
AUTH_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_auth?serverTimezone=UTC
USER_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_users?serverTimezone=UTC
TENANT_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_tenants?serverTimezone=UTC
ORGANIZATION_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_organizations?serverTimezone=UTC
CHARGER_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_chargers?serverTimezone=UTC
CONNECTOR_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_connectors?serverTimezone=UTC
CHARGING_SESSION_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_charging_sessions?serverTimezone=UTC
TARIFF_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_tariffs?serverTimezone=UTC
RESERVATION_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_reservations?serverTimezone=UTC
BILLING_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_billing?serverTimezone=UTC
INVOICE_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_invoices?serverTimezone=UTC
PAYMENT_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_payments?serverTimezone=UTC
NOTIFICATION_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_notifications?serverTimezone=UTC
OCPP_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_ocpp?serverTimezone=UTC
OCPP_SHARED_KEY=
TELEMETRY_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_telemetry?serverTimezone=UTC
FIRMWARE_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_firmware?serverTimezone=UTC
AUDIT_DATABASE_URL=jdbc:mysql://localhost:3306/tekwatt_audit?serverTimezone=UTC
DATABASE_USERNAME=tekwatt
DATABASE_PASSWORD=change-me

REDIS_PORT=6379
